.button__text1{

    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    
    
}

.button__text1 > span{

    width: 70px;
    height: 20px;
    padding-top: 7px;
    
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-brand1);
    font-family: var(--font-family);
    font-size: var(--font-size-9);
    font-weight: var(--font-weigth-1);
    color: var(--color-grey5);

}

.button__text3{

    margin-top: 20px;
    display: flex;
    justify-content: left;
    text-align: center;

}

.button__text3 > span{
    
    width: 110px;
    margin-left: 42px;
    
    border-radius: var(--border-radius);
    border: 1px solid var(--color-brand1);
    font-weight: var(--font-weigth-3);
    font-size: var(--font-size-10);
    line-height: var(--line-height-5);
    background-color: var(--color-primary);
    color: var(--color-grey5);
    font-family: var(--font-family);

}

